<main class="animated fadeIn">
    <div class="row justify-content-center mt-5 text-center">
        <div class="col-md-4">
            <header>
                <h1>Favorite Links</h1>
                <p>Store your favorite links</p>
            </header>

            <div>
                <button type="button"
                        class="btn btn-primary"
                        (click)="getStarted()">
                    Let's get Started
                </button>
            </div>
    
        </div>
    </div>
</main>
